@import "base.css";

#app {
    max-width: 128rem;
    height: 100vh;
    margin: 0 auto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

a,
.green {
    text-decoration: none;
    color: hsl(32, 88%, 36%);
    transition: 0.4s;

}

@media (hover: hover) {
    a:hover {
        background-color: hsla(32, 88%, 36%, 0.2);
    }
}

html {
    font-size: 62.5%;
}

main {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 2rem;
}

